{% extends 'base.html' %}


{% block content%}
<!-- Usual DC work -->
<div class="center-align margin-top100">
  <a href="#"><h5 class="animated fadeIn black-text" >WORK ON DATA COLLECTION</h5></a>
</div>
</br>
<div class="center-align">
  <a class="waves-effect waves-light btn-large"  href="/take-batch">Take a new batch</a>
  <a class="waves-effect waves-light btn-large"  href="/update-batch">Update batches</a>
  <a class="waves-effect waves-light btn-large"  href="/view-batches">View Batches</a>
</div>
</br>
<div class="center-align">
  <a href="#"><h5 class="animated fadeIn black-text">OR</h5></a>
</div>

</br>

<div class="center-align">
  <a class="waves-effect waves-light btn-large" href="/auto-create-unassigned" disabled>Generate New Batches</a>
</div>

</br>

<div class="center-align margin-top20">
  <a class="waves-effect waves-light btn-flat" href="/manage-users" disabled>Manage users</a>
  <a class="waves-effect waves-light btn-flat" href="/app-settings">App Settings</a>
  <a class="waves-effect waves-light btn-flat" href="/import-followup" disabled>Import FUP</a>
</div>

{% endblock %}
