{% extends 'base.html' %}


{% block content%}


<div class="margin-top30">
    <a href="/home-page"><img width="30" height="30" src="../static/home.png" alt="HOME"></a>
    <a href="/manage-users"><h5 class="black-text" style="display:inline;position:relative;right:-0.5em;bottom:0.3em;">Manage users</h5></a>
</div>


</br></br>


<div class="row" id="tohide">
  <form class="col s12" action="/users-management" method="post">
    <div class="col s6">
      <label>Insert the user's email</label>
      <input type="text" name="user_email" placeholder="ex: alin.climente@atexis.eu" required="" aria-required="true">
    </div>
    <div class="col s6">
      <label>Insert the user's password</label>
      <input type="password" name="user_password" placeholder="outlook pass preferred">
    </div>
    <div class="container">
      <div class="col s12">
        <label>Operation:</label>
        <select class="browser-default" name="admin_choice" required="" aria-required="true">
          <option value="" disabled selected>Choose: Add, Remove or Modify user</option>
          <option value="add_user">Add user</option>
          <option value="remove_user">Remove user</option>
          <option value="modify_user">Modify user</option>
        </select>
      </div>

      <div class="col s12">
        <label>Status:</label>
        <select class="browser-default" name="user_rights">
          <option value="" disabled selected>Choose: User, ProofReader or Admin</option>
          <option value="user">User/Responsible</option>
          <option value="proofreader">Proofreader</option>
          <option value="admin">Admin</option>
        </select>
      </div>

      <div class="col s12">
        <label>ProofReader:</label>
        <select class="browser-default" name="defaultProofreader">
          <option value="" default selected>Choose default ProofReader</option>
          {% for option in context.proofreaderList %}
            <option value="{{option}}">{{option}}</option>
          {% endfor %}
        </select>
      </div>

    </div>
    <div class="center-align">
      <button style="margin-top:50px;" class="btn-large waves-effect waves-light" type="submit" name="submit">Apply changes</button>
    </div>
  </form>
</div>

<div class="center-align" >
  <button type="button" onclick="toggle('table_users');" class="btn-flat waves-effect waves-light">Show users</button>
</div>

<div id="table_users" class="invisible">
  <table class="highlight margin-top50" id="myTable">
    <thead>
      <tr>
        <th>UserEmail</th>
        <th>UserPassword</th>
        <th>UserRights</th>
        <th>DefaultProofreader</th>
      </tr>
    </thead>

    <tbody>
      {% for mail in context['UserEmail'] %}
        <tr>
          <td>{{mail}}</td>
          <td>{{context['UserPassword'][loop.index0]}}</td>
          <td>{{context['UserRights'][loop.index0]}}</td>
          <td>{{context['DefaultProofreader'][loop.index0]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>





<!--Go back to previous page link -->
<div class="container">
  <a style="position:fixed;bottom:0px;right:0px;"  href="javascript:history.back()">
    <img src="../static/back.png" alt="BACK">
  </a>
</div>



{% endblock %}
